.row-header{
  margin:0px auto;
  padding:0px auto;
}

.tr-1{
  color: #07294D;
}

.breadcrump-style{
  border:none;background-color: blue;
}

.row-content {
  margin:0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height:400px;
}

.footer{
  background-color: #D1C4E9;
  margin:0px auto;
  padding: 20px 0px 20px 0px;
  /* position: fixed;
  width: 100%; */
  
  /* background-color: rgb(235, 195, 64);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
   */
}
.jumbotron {
  margin:0px auto;
  background: #1c093d ; 
  color:floralwhite;
}

address{
  font-size:80%;
  margin:0px;
  color:#0f0f0f;
}

.header1{
  background-color: #07294D;
}

.header1-position{
  margin-left: 540px;
  
}

.header2-position{
  margin-left: 190px;
}

.login{
  color: yellow;
}

.navbar-text {
  color:#FFFFFF;
}

.header2 {
  background-color: #FFFFFF;
}

.dropdown{
  background-color:#FFFFFF ;
}

.dropdowntoggle1{
  color: #07294D;
  background: #FFFFFF;
  border:none;
}

.head{
  padding: 20px;
}

.logotext{
  font-size: 30px;
}

