#title {
  text-align: center;
  font-family: arial, sans-serif;
  background-color: #d0f5e5 ;
  margin-bottom: 0px;
}

#theader{
  margin-top: 0px;
}

#courses {
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border: 3px solid #ddd;
  width: 100%;
}

#courses td, #courses th {
  border: 1px solid #ddd;
  padding: 8px;
  width:431px;
}

.a{
  color:#0f0f0f;
}

#courses th:nth-child(1){background-color: #f2f2f2; width:50px;}
#courses td:nth-child(1){background-color: #f2f2f2; width:50px;}

#courses tr:nth-child(even){background-color: #f2f2f2;}

#courses tr:hover {background-color: #ddd;}

#courses tr {display: block;}

#courses th {
  padding-top: 0px;
  padding-bottom: 0px;
  text-align: center;
  background-color: #37248a;
  color: white;
}


/* Registration Button and FORM */
.registration{
  height: 300px;
  width: relative;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: aquamarine;
  /* justify-content: center; */
  place-content: center;
}

.registration-button {
  height:60px;
  width: 250px;
  border-radius: 20px;  
  background-color: #fdfdff;
  color: #0f0f0f;
  font-style: inherit;
  font-size: 20px; 
}

.registration-link{
  color:#0f0f0f;
}

.registration-form {
  background: rgb(212, 143, 212);
  place-content: center;
}

.registration-form-color {
  background: rgb(208, 182, 241);
  margin-top: 10px;
}
.registration-form-color input{
  font-size: 13px ;
}

.registration-form-submit {
  transform: translateY(-5px);
}

.registration-form-label{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 13px;
}

.placeholder-form-color #name {
  font-size: 10px !important;
}



/* for carousel */
.carousel-text {
  color: #FFFFFF;
  margin-top: 40px;
 

}

.carousel{
  background: #07294C;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.carousel-image {
  height: 150px;
  width: 150px;
}

h3 {
  background: blue;
  color: #fff;
  font-size: 36px;
  line-height: 100px;
  margin: 10px;
  padding: 2%;
  position: relative;
  text-align: center;
}
.variable-width .slick-slide p {
  background: blue;
  height: 100px;
  color: #fff;
  margin: 5px;
  line-height: 100px;
  text-align: center;
}
.center .slick-center h3 {
  color: #e67e22;
  opacity: 1;
  transform: scale(1.08);
}
.center h3 {
  opacity: 0.8;
  transition: all 300ms ease;
}
.content {
  padding: 20px;
  margin: auto;
  width: 90%;
}
.slick-slide .image {
  padding: 10px;
}
.slick-slide img {
  border: 0px solid #fff;
  display: block;
  margin: auto;
}
.slick-slide img.slick-loading {
  border: 0;
}
.slick-slider {
  margin: 30px auto 50px;
}
.slick-dots {
  margin-left: 0;
}
.slick-thumb {
  bottom: -45px;
}
.slick-thumb li {
  width: 60px;
  height: 45px;
}
.slick-thumb li img {
  filter: grayscale(100%);
}
.slick-thumb li.slick-active img {
  filter: grayscale(0%);
}
@media (max-width: 768px) {
  h3 {
    font-size: 24px;
  }
  .center {
    margin-left: -40px;
    margin-right: -40px;
  }
  .center .slick-center h3 {
    color: #e67e22;
    opacity: 1;
    transform: scale(1);
  }
  .center h3 {
    opacity: 0.8;
    transform: scale(0.95);
    transition: all 300ms ease;
  }
}
.slick-vertical .slick-slide {
  height: 180px;
}
.slick-arrow {
  background-color: rgb(85,116,149);
  /* color: black; */
}
.slick-arrow:hover {
  background-color: rgb(85,116,149);
}
/* .slick-prev {
  z-index: 100;
  left: 20px !important;
}
.slick-next {
  z-index: 100;
  right: 20px !important;
} */















.row-header{
  margin:0px auto;
  padding:0px auto;
}

.tr-1{
  color: #07294D;
}

.breadcrump-style{
  border:none;background-color: blue;
}

.row-content {
  margin:0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height:400px;
}

.footer{
  background-color: #D1C4E9;
  margin:0px auto;
  padding: 20px 0px 20px 0px;
  /* position: fixed;
  width: 100%; */
  
  /* background-color: rgb(235, 195, 64);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
   */
}
.jumbotron {
  margin:0px auto;
  background: #1c093d ; 
  color:floralwhite;
}

address{
  font-size:80%;
  margin:0px;
  color:#0f0f0f;
}

.header1{
  background-color: #07294D;
}

.header1-position{
  margin-left: 582px;
  
}

.header2-position{
  margin-left: 50px;
}

.login{
  color: yellow;
}

.navbar-text {
  color:#FFFFFF;
}

.header2 {
  background-color: #FFFFFF;
}

.header2-search {
  text-align: right;
  transform: translateY(-20px);
}

.dropdown{
  background-color:#FFFFFF ;
}

.dropdowntoggle1{
  color: #07294D;
  background: #FFFFFF;
  border:none;
}

.head{
  padding: 20px;
}

.logotext{
  font-size: 30px;
}

